SolutionMcts70-515/C10L3Exercise2WebApplication/Service References/NwServices/ShipperService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/C10L3Exercise1WebApplication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/C10L3Exercise1WebApplication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Shipper">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipperId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Shipper" nillable="true" type="tns:Shipper" />
</xs:schema>